@font-face {
  font-family: 'Great Vibes', cursive;
  src: url(<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">)
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  text-align: center;
  font-size: 500%;
  }

h2, h3 {
  font-size: 280%;
  text-align: center;
}

body {
  background-image: url(Image/background42.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 125%;
  font-family: 'Great Vibes', cursive;
  }
.nav {
  padding: 80px 25px 80px 30px;
  font-size: 24px;
  text-align: center;
}
